@import "./variables";

.login {
    min-height: 88vh;
    padding-top: 14rem;

    &--sign_up_area {
        padding-top: 2rem;
        padding-left: 1rem;
        width: 34rem;
        margin: 0 auto;
        font-size: 1.2rem;
       

        &__signup{
            color: $color-blue-light;
            cursor: pointer;

            &:hover {
                color: $color-purple-light;
            }
        }
    }

    &--container {
        display: flex;
        flex-direction: column;
        height: 34rem;
        width: 34rem;
        margin: 0 auto;
        outline: 1px solid rgba($color-slate-dark, 0.2);
        box-shadow: 0 0.4rem 0.8rem rgba($color-black, 0.2);

        // outline-offset: 1rem;
        padding-top: 2rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;

        &__title {
            font-size: 1.8rem;
            font-weight: 600;
        }


        &__input_field {
            &--form {
                &__text {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 1.5rem;
                    padding-bottom: 0.8rem;
                    padding-left: 0.2rem;
                    font-size: 1.2rem;
                    font-weight: 600;

                    &--sub {
                        font-size: 1.2rem;
                        color: $color-blue-light;
                        cursor: pointer;

                        &:hover {
                            color: $color-purple-light;
                        }
                    }
                }

                &__input {
                    height: 3.2rem;
                    width: 100%;
                    border: 1px solid rgba($color-slate-dark, 0.4);
                    border-radius: 0.5rem;
                    background-color: rgba($color-grey-light, 0.5);
                    outline: none;
                    padding-left: 1rem;

                    &:focus {
                        border: 1px solid $color-blue-light;
                        padding-left: 1.5rem;
                    }
                }

                &__submit {
                    height: 3rem;
                    width: 100%;
                    font-size: 1.4rem;
                    border: none;
                    border-radius: 0.5rem;
                    color: $color-grey-light;
                    background-color: $color-blue-light;
                    font-weight: 800;
                    outline: none;
                    transition: all 0.4s;
                    -webkit-appearance: none;
                    margin-top: 4rem;

                    &:hover {
                        color: $color-white;
                        background-color: $color-purple-light;
                    }
                }
            }
        }
    }
}
