@import "./variables";

.OrderSuccess {
    min-height: 88vh;
    padding-top: 14rem;

    &--container {
        padding-top: 5rem;

        &__check_icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            font-size: 26rem;
            color: rgba(rgb(12, 173, 12), 0.9);
        }

        &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            font-size: 3rem;
            width: 50%;
            padding-top: 4rem;
            padding-bottom: 1rem;
        }

        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            font-size: 1.8rem;
        }
    }
}
