@import "./variables";

.register {
    min-height: 88vh;
    padding-top: 11rem;

    &--log_in_area {
        padding-top: 2rem;
        padding-left: 1rem;
        width: 34rem;
        margin: 0 auto;
        font-size: 1.2rem;

        &__signin {
            color: $color-blue-light;
            cursor: pointer;

            &:hover {
                color: $color-purple-light;
            }
        }
    }

    &--container {
        display: flex;
        flex-direction: column;
        height: 48rem;
        width: 36rem;
        margin: 0 auto;
        outline: 1px solid rgba($color-slate-dark, 0.2);
        box-shadow: 0 0.4rem 0.8rem rgba($color-black, 0.2);

        // outline-offset: 1rem;
        padding-top: 2rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;

        &__title {
            font-size: 1.8rem;
            font-weight: 600;
        }

        &__input_field {
            &--form {
                &__avatar {
                    &--title {
                        display: flex;
                        padding-top: 1.5rem;
                        padding-bottom: 0.2rem;
                        padding-left: 0.2rem;
                        font-size: 1.2rem;
                        font-weight: 600;
                    }

                    &--container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;

                        &__image {
                            max-width: 5rem;
                            max-height: 5rem;
                            object-fit: cover;
                            border-radius: 50%;
                            width: 20%;
                        }

                        &__custom_file {
                            display: flex;
                            flex-direction: column;
                            height: 3.5rem;
                            width: 80%;
                            overflow: hidden;
                            text-align: center;
                            justify-content: center;

                            &--input {
                                height: 0;
                                width: 0;
                                overflow: hidden;
                            }

                            &--label {
                                display: flex;
                                font-size: 1.2rem;
                                height: 5rem;
                                &__left {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;

                                    border-left: 1px solid$color-grey-dark;
                                    border-top: 1px solid $color-grey-dark;
                                    border-bottom: 1px solid $color-grey-dark;
                                    border-top-left-radius: 0.4rem;
                                    border-bottom-left-radius: 0.4rem;
                                    color: $color-black;
                                    width: 70%;
                                    text-align: left;
                                    padding-left: 1.5rem;
                                }

                                &__right {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;

                                    border-right: 1px solid $color-grey-dark;
                                    border-top: 1px solid $color-grey-dark;
                                    border-bottom: 1px solid $color-grey-dark;
                                    border-top-right-radius: 0.4rem;
                                    border-bottom-right-radius: 0.4rem;
                                    color: $color-black;
                                    background-color: rgb(226, 222, 222);
                                    width: 30%;

                                    &:hover {
                                        color: $color-white;
                                        background-color: $color-purple-light;
                                        transition: all 0.5s;
                                    }
                                }
                            }
                        }
                    }
                }

                &__text {
                    display: flex;
                    padding-top: 1.5rem;
                    padding-bottom: 0.8rem;
                    padding-left: 0.2rem;
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                &__input {
                    height: 3.2rem;
                    width: 100%;
                    border: 1px solid rgba($color-slate-dark, 0.4);
                    border-radius: 0.5rem;
                    background-color: rgba($color-grey-light, 0.5);
                    outline: none;
                    padding-left: 1rem;

                    &:focus {
                        border: 1px solid $color-blue-light;
                        padding-left: 1.5rem;
                    }
                }

                &__submit {
                    height: 3.5rem;
                    width: 100%;
                    font-size: 1.4rem;
                    border: none;
                    border-radius: 0.5rem;
                    // color: $color-grey-light;
                    // background-color: $color-blue-light;
                    font-weight: 800;
                    // outline: none;
                    // transition: all 0.4s;
                    -webkit-appearance: none;
                    margin-top: 3.5rem;

                    &:disabled {
                        color: $color-white;
                        background-color: $color-grey-dark;
                    }

                    &:enabled {
                        color: $color-grey-light;
                        background-color: $color-blue-light;
                        outline: none;
                        
                        &:hover {
                            color: $color-white;
                            background-color: $color-purple-light;
                            transition: all 0.4s;
                        }
                    }
                }
            }
        }
    }
}
